.row {  
    display: flex;
    flex-wrap: wrap;
}

.kitchen {
    flex: 30%;
    padding: 20px;
}
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}
.ingredients_column{
    padding-bottom: 25px;
    position:relative;
    height: 100%;
    overflow-y: auto;
}
#kitchen_panel{
    margin-left:23px;
    margin-right:3px;
    margin-top: 5px;
    margin-bottom:50px;
}

.logoimage{
  margin-top : 5px;
  margin-left: 30px;
  height: 50px;
  width:175px;

}

.panel {
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.5);
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #047918;
    border-color: #428bca;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.trash{
    font-size: medium;
}
.ings {
    margin-left: -15px;
}
.removeall{
    text-align: center;
    margin-bottom: 4px;
}
.removeall hr{
    margin-top:10px;
    margin-bottom:10px;
}
#results{
    text-align:left;
}
.grip{   
    width:30px;
    font-size: 27px;
    cursor:pointer;    
}
.result{
    width:296px;
    height:275px;
    display: inline-block;
    color:#4D9198;
    margin:5px;
}
.result img{
    border-radius: 5px 5px 0 0;
}

.result p{
    margin-left: 55px;
}
.recipe_div {
    box-sizing: border-box;
    color: rgb(52, 54, 56);
    display: inline-block;
    position: relative;
    text-align: left;
    text-decoration: none solid rgb(52, 54, 56);
    vertical-align: top;
    width: 296px;
    z-index: 0;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 6px 6px 6px 6px;
    font: normal normal 200 15px/20px Helvetica, Arial, sans-serif;
    outline: rgb(52, 54, 56) none 0px;
}
.recipe_img {
    color: rgb(25, 137, 255);
    height: 239px;
    max-width: 100%;
    text-align: left;
    text-decoration: none solid rgb(25, 137, 255);
    text-rendering: optimizelegibility;
    vertical-align: middle;
    width: 292px;
    border: 0px none rgb(25, 137, 255);
    border-radius: 5px 5px 0 0;
    font: normal normal bold 15px/20px Helvetica, Arial, sans-serif;
    outline: rgb(25, 137, 255) none 0px;
}
.recipe_name {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 60px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-rendering: optimizelegibility;
    text-overflow: ellipsis;
    top: 0px;
    width: 292px;
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0.498039) 0%, rgba(0, 0, 0, 0) 100%) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 5px 5px 0 0;
    font: normal normal 200 12px/12px Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    word-wrap:break-word;
}

.title {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    pointer-events: none;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgb(102, 102, 102) 1px 1px 0px;
    text-overflow: ellipsis;
    max-width: 290px;
    border: 0px none rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px;
    line-height: 1;
}
.youcanmake{
    font-weight: 700;
    text-align: center;
    margin: 5px 0;   
}

.logo_green{
    color: #047918;
}

.fa-cutlery {
    color: #F47D10;
}
.fa-trash{
    color: #ed4b0b;
}
.exclusionicon{
    color:red;
    font-size: 19px;
}
.slider{
    text-align: center;
    width:640px;
    height:386px;
    border: 1px solid #000000;
    margin: 30px 10%;

}
@media screen and (max-width: 750px) {
    .row {   
        flex-direction: column;
    }
}